/* src/pages/LoginPage.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/images/backgroundImg3.png"); /* public 기준 경로 */
  background-size: cover;        /* 꽉 차게 */
  background-position: center;   /* 가운데 정렬 */
  background-repeat: no-repeat;  /* 반복 없음 */
  justify-content: center;
}

h2 {
  margin-bottom: 24px;
}

.login-input {
  width: 250px;
  padding: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #555;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
