/* UserMainPage.css */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("/images/backgroundImg3.png"); /* public 기준 경로 */
  background-size: cover;        /* 꽉 차게 */
  background-position: center;   /* 가운데 정렬 */
  background-repeat: no-repeat;  /* 반복 없음 */
  justify-content: center;
}

.logo {
  width: 200px; /* 로고 너비 */
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-button {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #555;
}
